<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.corpIns.mapper.UserMapper">
    <select id="selectUserByEmail" parameterType="string" resultType="com.corpIns.dto.User">
        SELECT u.user_sno as userSno, u.email, u.name, u.password_hash as passwordHash, ud.nickname
        FROM users u
        LEFT JOIN user_details ud ON u.user_sno = ud.user_sno
        WHERE u.email = #{email}
    </select>

    <insert id="insertUser" parameterType="map">
        INSERT INTO users
        (email, password_hash)
        VALUES
        (#{email}, #{password_hash})
    </insert>
    
    <update id="updateUserProfile" parameterType="map">
        INSERT OR REPLACE INTO user_details (user_sno, nickname)
        VALUES (#{userSno}, #{nickname})
    </update>
</mapper>

